<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

    <head>

             {{ partial "head.html" . }}

    </head>
    <div class="flex flex-row  ">
        <div class=" basis-1/12 ">
             {{ partial "nav.html" . }}
        </div>
        <div class="basis-11/12 ">

    <body>
       
            {{ partial "header.html" . }}
            
            {{ block "main" . }}{{ end }}

    </body>
        </div>
    </div>
             {{ partial "footer.html" . }}

</html>